@model Product

<table class="ui selectable inverted table">
  <thead>
    <tr><th>Name</th>
    <th>Quantity</th>
    <th>Action</th>
  </tr></thead>
   
   <tbody>   
    <tr>
      <td>@p.Name</td>   
      <td>@p.Quantity</td>     
      <td>Edit | Delete | Add More</td>    
    </tr>         
  </tbody>   
</table> 